/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/database/database.sqlite

# Custom ignored files
*.py
*.txt
test_*.php
*.pdf
*.docx
*.patch
*.diff
!setup.bat

# Allow dokumentasi folder and its contents to be tracked
!dokumentasi/
!dokumentasi/*